*.bak

.dockerignore
.env*
.git*
.idea
.phpstorm.meta.php
.phpunit.result.cache

Dockerfile
load.environment.php
Makefile
phpcs.xml*
phpstan.neon*
phpunit.xml*
Procfile
report
script.php
stubs
utils
web/sites/default/files
web/sites/simpletest
