includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  level: max
  paths:
    - .
  checkMissingIterableValueType: false
  excludePaths:
    analyse:
      - vendor
      - web/core
      - web/modules/contrib
      - web/themes/contrib
    analyseAndScan:
      - web/sites/default/default.settings.php
      - web/sites/default/files
      - web/sites/simpletest
